 <div class="row">
     <div class="col-md-2"><b>Firstname</b></div>
        <div class="col-md-2"><b>Lastname</b></div>
        <div class="col-md-2"><b>Username</b></div>
        <div class="col-md-2"><b>Email</b></div>
        <div class="col-md-2"><b>Role</b></div>
        <div class="col-md-2"><b>Action</b></div>
        
</div>

<div class="row" ng-repeat="user in users" >
        <div class="col-md-2">{{user.User.first_name | capitalize}}</div>
        <div class="col-md-2">{{user.User.last_name | capitalize}}</div>
        <div class="col-md-2">{{user.User.username}}</div>
        <div class="col-md-2">{{user.User.email}}</div>
        <div class="col-md-2">{{user.User.role | uppercase}}</div>
        <div class="col-md-2">
<!--            <a href="#userInfo/{{user.User.id}}" ng-click="userDetail({{user.User.id}})"><span  class="glyphicon glyphicon-pencil" ></span></a>-->
            <a ng-href='#/userInfo/{{user.User.id}}' ng-click="userDetail(user.User.id)"> <span  class="glyphicon glyphicon-pencil" ></span> </a>
        </div>        
 </div>